@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "flowbite";

html{
    font-family: Inter, sans-serif;
    background-color: #383838;
    min-height: 100vh;
}
.intro {
    background-image: url("../assets/img/code-picture.jpg");
    height: 80vh;
    clip-path: polygon(0 0, 0 75%, 50% 100%, 100% 75%, 100% 0);
}

@media (max-width: 768px) {
    .intro {
        height: 65vh;
        clip-path: polygon(0 0, 0 90%, 50% 100%, 100% 90%, 100% 0);

    }
}
